.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    align-self: flex-start
}

.header-left{
    display: flex;
}

.header-left > h1 {
    font-size: 24px;
    padding-left: 30px;
    
}

@media (prefers-reduced-motion: no-preference) {
    .image-logo {
      animation: image-logo-spin infinite 20s linear;
    }
  }

@keyframes image-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.image-logo {
   object-fit: contain;
   height: 60px;
   margin-left: 20px;
   
}

.header-center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header-center > input{
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}
.header-right{
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 15vw;
    color: gray;
}